.modal-holder {
  z-index: 100;
  width: 100%;
  height: 100vh;
  background-image: url("../../assets/recycling.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-color: #026928;
  display: flex;
  align-items: center;
}

.modal {
  width: 60%;
  height: 60%;
  position: absolute;
  left: 20%;
  bottom: 20%;
  margin: 0 auto;
  border: 3px solid #026928;
  border-radius: 2em 1em 4em / 0.5em 3em;
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  background: white;
  opacity: 0.9;
}

.modal form {
  width: 50%;
}

@media screen and (max-width: 767px) {
  .modal-holder {
    background-image: url("../../assets/recycling-small.jpg");
    background-size: 200% 80%;
    background-color: #ecf6eb;
    background-position: center;
    padding: 0;
  }
  .modal {
    width: 90%;
  }
}

@media screen and (max-width: 550px) {
  .modal-holder {
    background-size: 300% 75%;
  }
}
