#modal-holder {
  z-index: 100;
  width: 100%;
  height: 85vh;
  background-image: url("../../assets/recycling-small.jpg");
  background-position: center;
  background-size: 60% 60%;
  background-repeat: no-repeat;
  background-color: #ecf6eb;
  display: flex;
  align-items: center;
}

.modal {
  width: 60%;
  height: 60%;
  position: absolute;
  left: 20%;
  bottom: 20%;
  margin: 0 auto;
  border: 2px solid #026928;
  border-radius: 2em 1em 4em / 0.5em 3em;
  text-align: center;
  display: flex;
  flex-direction: row;
  background: white;
  opacity: 0.9;
}
.modal .login-change-div {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.login-change-div form {
  width: 100% !important;
}

.modal form {
  width: 50%;
}

.modal span {
  position: absolute;
  top: 2.5px;
  right: 10px;
}

.forgot-password {
  width: 70%;
  padding: 10px;
  margin: 15px auto;
  text-align: left;
  cursor: pointer;
  font-size: 1.1rem;
  color: #026928;
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  #modal-holder {
    background-size: 150% 90%;
  }
  .modal {
    width: 80%;
    left: 10%;
  }
}

@media screen and (max-width: 767px) {
  #modal-holder {
    background-size: 200% 80%;
    padding: 0;
  }
  .modal {
    top: 7.5%;
    height: 85vh;
    width: 100%;
    left: 0.01%;
    flex-direction: column;
    border: none;
  }
  .modal .login-change-div {
    width: 100%;
  }
  .modal form {
    width: 100%;
    padding: 0;
  }
  .forgot-password {
    width: 90%;
  }
}

@media screen and (max-width: 550px) {
  #modal-holder {
    background-size: 300% 75%;
  }
}
