form {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  font-size: 2rem;
}

form h3 {
  margin-top: 10px;
  font-size: 2.5rem;
  font-family: "BioRhyme", serif;
}

.auth-form .form-input {
  font-size: 1.3rem;
  padding: 10px;
  margin: 15px auto;
  width: 70%;
  height: 3rem;
  border: 2px solid #82b8bb;
  border-radius: 2em/4em;
  outline: none;
}

.auth-form button {
  margin: 20px auto !important;
  font-size: 1.5rem;
  width: 70%;
}

.reg {
  background-color: #82b8bb;
}

.reg:hover {
  background-color: #69a8ac;
}

@media screen and (max-width: 767px) {
  .form-input,
  form button {
    width: 90% !important;
  }

  .error {
    font-size: 1rem;
  }

  .auth-form .form-input {
    font-size: 1rem;
    height: 2rem;
  }

  form h3 {
    margin: 0 auto !important;
  }
}
