.btn {
  padding: 15px;
  color: white;
  background-color: #039b3b;
  border: 1px solid #039b3b;
  border-radius: 2em 1em 4em / 0.5em 3em;
  cursor: pointer;
  margin: 5px;
  outline: none;
  font-size: 1.5rem;
  transition: all 0.15s ease-in-out;
}

.btn:hover {
  border: 1px solid #026928;
  background-color: #026928;
}

.delete {
  font-size: 2rem;
  color: crimson;
  margin-left: 10px;
  cursor: pointer;
}

.auth {
  font-size: 1.3rem;
  padding: 5px;
  height: 45px;
  margin-top: 12px;
  border: 2px solid white;
  border-radius: 2em / 4em;
  outline: none;
  cursor: pointer;
  color: white;
  background-color: #039b3b;
  transition: all 0.15s ease-in-out;
}

.auth:hover {
  background-color: #026928;
}

@media screen and (max-width: 500px) {
  .auth {
    font-size: 1rem;
    margin-top: 5px;
  }
}
