.btn {
  padding: 15px;
  color: white;
  background-color: #039b3b;
  border: 1px solid #039b3b;
  border-radius: 2em 1em 4em / 0.5em 3em;
  cursor: pointer;
  margin: 10px;
  outline: none;
  font-size: 1.5rem;
  transition: all 0.15s ease-in-out;
}

.delete {
  font-size: 2rem;
  color: darkred;
  margin-left: 10px;
  cursor: pointer;
}
