.mat-item {
  padding: 15px;
  margin: 15px;
  font-size: 1.3rem;
  box-shadow: 1px 5px 25px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
}

@media only screen and (max-width: 767px) {
  .mat-item {
    width: 90%;
  }
}

@media only screen and (min-width: 768px) {
  .mat-item {
    width: 40%;
  }
}

@media only screen and (min-width: 992px) {
  .mat-item {
    width: 25%;
  }
}

@media only screen and (min-width: 1200px) {
  .mat-item {
    width: 20%;
  }
}
