.reset-password {
  width: 100%;
  text-align: center;
  font-family: Arial;
  display: flex;
  flex-direction: column;
}

.reset-password h3 {
  font-size: 2.5rem;
  font-family: "BioRhyme", serif;
  margin-bottom: 25px;
}

.reset-password input {
  width: 70%;
  margin: 20px auto;
  padding: 10px;
  border: 2px solid #82b8bb;
  border-radius: 5px;
  font-size: 1.3rem;
  outline: none;
}
.reset-password p {
  width: 75%;
  margin: 0 auto;
  text-align: left;
}

.reset-password div button {
  outline: 0;
  width: 35%;
  margin: 20px 5px;
  padding: 10px;
  font-size: 1.15rem;
  font-weight: bold;
  background: white;
  cursor: pointer;
  transition: all 0.2s ease-out;
}
.send-email {
  color: #82b8bb;
  border: 2px solid #82b8bb;
  border-radius: 5px 20px 5px 5px;
}
.send-email:hover {
  color: white;
  background: #82b8bb;
}

.cancel-send {
  color: crimson;
  border: 2px solid crimson;
  border-radius: 20px 5px 5px 5px;
}
.cancel-send:hover {
  color: white;
  background: crimson;
}

@media screen and (max-width: 767px) {
  .reset-password input {
    height: 2rem;
  }
  .reset-password h3 {
    margin: 0;
  }
}
