.intro {
  min-height: 92.5vh;
  padding: 2rem 0.1px;
}

.intro h2 {
  font-size: 3rem;
  background: -webkit-linear-gradient(#026928, #04c24a);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.intro p {
  margin: 20px auto;
  width: 80%;
  font-size: 1rem;
  font-weight: bold;
}

.intro-btn {
  font-size: 2rem;
  width: 20%;
  background-color: white;
  padding: 10px;
  border: 2px solid #026928;
  color: #026928;
  border-radius: 2em/4em;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  outline: none;
}

.intro-btn i {
  animation: opacitychange ease-in 1.5s infinite;
}

@keyframes opacitychange {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

.intro-btn:hover {
  background-color: #026928;
  color: white;
}

.img-holder {
  height: 337px;
  margin: 3rem auto;
  background-color: #026928;
  animation: colorchange linear 5s infinite;
}

@keyframes colorchange {
  0% {
    background-color: #026928;
  }
  50% {
    background-color: #04c24a;
  }
  100% {
    background-color: #026928;
  }
}

.img-holder img {
  height: 100%;
  border-radius: 1.5em/5em;
  border: 2px solid #026928;
  animation: borderchange linear 5s infinite;
}

@keyframes borderchange {
  0% {
    border-color: #026928;
  }
  50% {
    border-color: #04c24a;
  }
  100% {
    border-color: #026928;
  }
}

.small {
  display: none;
  border-radius: 1.5em/5em;
  background-color: white;
}

@media screen and (max-width: 1199px) {
  .intro-btn {
    width: 50%;
  }
}

@media screen and (max-width: 768px) {
  .intro-btn {
    width: 90%;
  }
  .img-holder img {
    width: 85%;
    margin: 0 auto;
  }
  .intro h2 {
    font-size: 2rem;
  }
}

@media screen and (max-width: 600px) {
  .small {
    display: block;
  }
  .normal {
    display: none;
  }
}
