.error,
.success {
  display: inline;
  font-size: 1rem;
  font-weight: bold;
  color: crimson;
  font-family: Arial;
  text-align: left;
  margin-left: 16%;
}

.success {
  color: #026928;
}

#addFormStyle {
  margin-left: 10%;
}

@media screen and (max-width: 767px) {
  .error,
  .success {
    margin-left: 5%;
  }
  #addFormStyle {
    margin-left: 0.5%;
  }
}
