@import url("https://fonts.googleapis.com/css2?family=BioRhyme&family=Open+Sans&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

html {
  font-family: "BioRhyme", serif;
  height: 100%;
}

body {
  font-size: 1rem;
  line-height: 1.6;
  background-color: #fff;
  color: #333;
  text-align: center;
}

header,
footer {
  width: 100%;
  height: 7.5vh;
  background-color: #026928;
  background-image: linear-gradient(to right, #026928, #04c24a);
  padding: 0.5rem;
  color: white;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0;
  padding-left: 20px;
  padding-right: 20px;
}

.header-auth-div {
  padding-top: 15px;
}
.header-auth-div span {
  font-size: 1.3rem;
  margin-right: 5px;
}

footer {
  bottom: 0;
  margin-top: -(footer height);
  clear: both;
}

main {
  min-height: 92.5vh;
  margin: 0 auto;
  padding: 20px 10px 7.5vh 10px;
}

main .inputs-div {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 1rem;
}

main .inputs-div form {
  width: 25%;
}

main .inputs-div .searches {
  width: 75%;
}

h1 {
  font-family: "impact";
  letter-spacing: 5px;
  font-size: 3rem;
}

h3 {
  margin: 10px auto;
}

.materials-list {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.materials-list h2 {
  margin-top: 50px;
  font-family: Arial;
}

header a {
  text-decoration: none;
  color: white;
}

.no-result {
  margin: 40px auto;
  color: #026928;
  font-size: 2rem;
  font-weight: bolder;
  font-family: Arial;
}

@media screen and (max-width: 320px) {
  body {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  main {
    width: 100%;
  }
  main .inputs-div {
    flex-direction: column;
  }
  main .inputs-div form,
  main .inputs-div .searches {
    width: 100%;
  }
}

@media screen and (max-width: 500px) {
  h1 {
    font-size: 1.5rem;
  }
  header {
    padding: 10px auto;
    justify-content: space-between;
  }
  header a {
    padding-top: 17px;
  }
  header span {
    font-size: 12px;
  }
  .header-auth-div span {
    font-size: 12px;
  }
  footer {
    font-size: 11px;
    padding-top: 15px;
  }
}
