@import url("https://fonts.googleapis.com/css2?family=BioRhyme&family=Open+Sans&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

html {
  font-family: "BioRhyme", serif;
}

body {
  font-size: 1rem;
  line-height: 1.6;
  background-color: #fff;
  color: #333;
  text-align: center;
}

header,
footer {
  width: 100%;
  height: 7.5vh;
  background-color: #026928;
  background-image: linear-gradient(to right, #026928, #04c24a);
  padding: 0.5rem;
  color: white;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

header span {
  font-size: 1.2rem;
  margin-top: 40px;
}

footer {
  bottom: 0;
}

main {
  min-height: 92.5vh;
  margin: 0 auto;
  padding: 7.5vh 10px;
  box-shadow: 0px -3px 3px #026928;
}

h1 {
  padding-top: 3%;
  font-family: "impact";
  letter-spacing: 5px;
  font-size: 3rem;
}

h3 {
  margin: 10px auto;
}

.materials-list {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

header a {
  text-decoration: none;
  color: white;
}

@media screen and (max-width: 320px) {
  body {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  main {
    width: 100%;
  }
}

@media screen and (max-width: 500px) {
  h1 {
    font-size: 2rem;
    padding-top: 17%;
  }
}

.show-enter {
  opacity: 0;
}
.show-active {
  opacity: 1;
  transition: opacity 200ms ease-in;
}
.show-exit {
  opacity: 1;
}
.show-exit-active {
  opacity: 0;
  transition: opacity 200ms ease-in;
}
