* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background-color: #fff;
  color: #333;
  text-align: center;
}

header,
footer {
  width: 100%;
  height: 100px;
  background-color: #026928;
  background-image: linear-gradient(to right, #026928, #04c24a);
  padding: 1.5rem;
}

header {
  margin-bottom: 50px;
}

footer {
  position: absolute;
  left: 0;
  bottom: 0;
}

main {
  padding-bottom: 100px;
}
