.change-password {
  width: 100%;
  padding: 5px;
  font-family: Arial;
  border-bottom: 3px double #026928;
}

.change-password input {
  width: 70%;
  border: 2px solid #026928;
}

.change-password h4 {
  margin-bottom: 10px;
}

.change-password button {
  width: 50%;
  padding: 10px;
  border: 2px solid #026928;
  margin: 0 !important;
  margin-bottom: 20px !important;
  border-radius: 2em/4em;
  font-size: 1rem;
  font-weight: bold;
  outline: 0;
  background-color: white;
  color: #026928;
  transition: all 0.2s ease-in;
  cursor: pointer;
}
.change-password button:hover {
  color: white;
  background-color: #026928;
}

.change-password form button {
  width: 30%;
  margin: 10px !important;
}

.change-password form button:first-child {
  border-radius: 5px 20px 5px 5px;
}
.change-password form button:last-child {
  border-radius: 20px 5px 5px 5px;
  color: crimson;
  border: 2px solid crimson;
}
.change-password form button:last-child:hover {
  color: white;
  background: crimson;
}
