.user-modal {
  z-index: 20;
  position: absolute;
  top: 7.5vh;
  right: 20px;
  width: 29%;
  text-align: center;
  display: flex;
  flex-direction: column;
  border-right: 3px solid #026928;
  border-bottom: 3px solid #026928;
  border-left: 3px solid #026928;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: white;
}

.user-modal span {
  cursor: pointer;
  font-size: 1.5rem !important;
  position: absolute;
  right: 5px;
  color: crimson;
}

.user-modal button {
  width: 50%;
  margin: 20px auto;
}

.user-modal .user-info {
  width: 100%;
  margin: 20px auto;
  padding: 5px;
  font-family: Arial;
  border-bottom: 3px double #026928;
}

.user-modal .user-info p {
  margin: 10px auto;
}

.user-modal .change-password {
  width: 100%;
  padding: 5px;
  font-family: Arial;
  border-bottom: 3px double #026928;
}

.user-modal .change-password input {
  width: 50%;
  border: 2px solid #026928;
}

.user-modal .change-password h4 {
  margin-bottom: 10px;
}

.user-modal .change-password button {
  width: 50%;
  padding: 10px;
  border: 2px solid #026928;
  border-radius: 5px 20px 5px;
  font-size: 1rem;
  font-weight: bold;
  outline: 0;
  background-color: white;
  color: #026928;
  transition: all 0.2s ease-in;
  cursor: pointer;
}
.user-modal .change-password button:hover {
  color: white;
  background-color: #026928;
}
